/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('//fonts.googleapis.com/css?family=Righteous');
@import url('//fonts.googleapis.com/icon?family=Material+Icons');


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.content {
  position: absolute;
  top: 64px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: image-url("sayagata-400px.png") repeat 0 0;
}
