// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//hero image backgrounds
@import "colors";


#homepage-hero {
  //background-image: image-url("NewHero.jpg");
  background-image: image-url("ayush_hero2.jpg")
}
#openings-hero {
  background-image: image-url("JobOpeningsHero.png");
}
#resume-hero {
  background-image: image-url("ResumeHero.png");
}
#application-hero {
  background-image: image-url("ApplicationLetterHERO.png");
}
#interview-hero {
  background-image: image-url("InterviewHero.png");
}

.content {
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
}


.content .text {
  color: $grey-800;
}

.content img {
  float: right;
}

//resume page 
//hide all the resume information by default
#chrono-resume, #func-resume, #combo-resume, #targeted-resume {
  //display: none;
}

//set the format of the sample resumes
.sample-resume {
  color: black;
  font-family: "Times";
  font-size: 20px;
  background-color: white;
  padding: 10px;
}