// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#homepage-hero {
  background-image: image-url("NewHero.jpg");
}
#openings-hero {
  background-image: image-url("JobOpeningsHero.png");
}
#resume-hero {
  background-image: image-url("ResumeHero.png");
}
#application-hero {
  background-image: image-url("ApplicationLetterHERO.png");
}
#interview-hero {
  background-image: image-url("InterviewHero.png");
}
